<%= simple_form_for @item, html: { multipart: true, class: "text-center border border-light p-5" } do |f| %>
  <%= f.error_notification %>
  <p class="h4 mb-4">Fill in the fields</p>

  <div class="form-row mb-4">
    <div class="col">
        <%= f.input :title, required: true, input_html: { class: "form-control" }, placeholder: "Title", wrapper: false, label_html: { class: "label "} %>
    </div>

    <div class="col">
        <%= f.input :price, required: true, input_html: { class: "form-control" }, placeholder: "Price", wrapper: false, label_html: { class: "label "} %>
    </div>
  </div>

  <div class="form-group">
    <%= f.input :description, as: :text, required: true, input_html: { class: "form-control", rows: 5 }, placeholder: "Description", wrapper: false, label_html: { class: "label "} %>
  </div>

  <div class="form-row">
    <div class="col">
      <%= f.input :brand, collection: Item::BRAND, input_html: { class: "browser-default custom-select mb-4" }, prompt: "Select brand" %>
    </div>

    <div class="col">
      <%= f.input :color, collection: Item::COLOR, input_html: { class: "browser-default custom-select mb-4" }, prompt: "Select color" %>
    </div>

    <div class="col">
      <%= f.input :condition, collection: Item::CONDITION, input_html: { class: "browser-default custom-select mb-4" }, prompt: "Select condition" %>
    </div>
  </div>

  <span>Add image</span>
  <div class="custom-file">
    <%= f.input :image, as: :file, required: true, input_html: { class: "custom-file-input" }, label: false, wrapper: false %>      
    <label class="custom-file-label">Choose image file...</label>
  </div>

  <hr />

  <div class="form-row">
    <div class="col">
      <%= f.button :submit, class: "btn btn-info btn-block" %>
    </div>
     <div class="col">
      <%= link_to 'Cancel', items_path, class: "btn btn-warning btn-block" %>
    </div>
  </div>
    
<% end %>
